$red: #E10000;
$green: #97C900;
$blue: #56c0e6;

$blue-dark-5: darken(#56c0e6, 30%);

$orange: #FF7300;
$yellow:  #FFC926;

$gray-0: #f4f5f6;
$gray-1: #DDDDDD;
$gray-2: #BBBBBB;
$gray-3: #AAAAAA;
$gray-4: #CCCCCC;
$gray-5: #555555;
$gray-6: #666666;
$gray-7: #777777;
$gray-8: #EEEEEE;